{
  "plugins": [
    [
      "babel-plugin-transform-runtime",
      {
        "absoulteRuntime": false,
        "corejs": true,
        "helper": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}